body{
    display: flex;
    justify-content: center;
}


#wrapper{
    width:20rem;
    border: 2px solid red;
    border-radius: 20px;
  
}
input{
    width: 17rem;
    height: 5rem;
    border: 1px solid brown;
    font-size: 2rem;
    border-radius: 10px;
   
}
#Inp-data{
    padding: 0.7rem;
}
button{
    margin: 0.3rem;
    padding: 1rem;
 border: 2px solid  black;
 border-radius: 10px;
    width: 5rem;
    font-size: larger;
    font-weight: bold;
}
#btn-Div{
    padding-left: 0.7rem;
}

